*.log
.DS_Store
.env
.env.backup
.env.production
/apps/authentik/.env
/.claude/
/.codex_spreadsheet/
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/outputs/
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
/gantt_siruta.png
